#pragma code_page(65001)

#include "resource.h"
#include <windows.h>

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

// Manifest-based Unicode / DPI support relies on defaults

IDD_BACKETS DIALOGEX 0, 0, 420, 190
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX | WS_MINIMIZEBOX
CAPTION "Backets"
FONT 9, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "入力", IDC_STATIC_INPUT, 7, 7, 60, 10
    EDITTEXT        IDC_EDIT_INPUT, 7, 18, 330, 68, ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_TABSTOP

    LTEXT           "出力", IDC_STATIC_OUTPUT, 7, 95, 60, 10
    EDITTEXT        IDC_EDIT_OUTPUT, 7, 106, 330, 75, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | WS_TABSTOP

    DEFPUSHBUTTON   "実行", IDC_BUTTON_EXECUTE, 347, 18, 66, 16
    PUSHBUTTON      "終了", IDC_BUTTON_EXIT, 347, 38, 66, 16

    LTEXT           "インデント記号", IDC_STATIC_INDENT, 347, 75, 66, 10
    EDITTEXT        IDC_EDIT_INDENT, 347, 86, 66, 14, ES_AUTOHSCROLL | WS_TABSTOP
END